.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.form {
    padding: 15px;
}

.input {
    padding: 10px;
    font-size: large;
    min-width: 540px;
}

.button {
    padding: 10px;
    font-size: large;
}

.button img {
    padding: 0px 15px;
    height: 16px;
    width: 16px;
}