<div class="container">
    <h1>Searh for developers</h1>
    <div>
        <form class="form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <input type="text" placeholder="Search" class="input" formControlName="term" />
            <button class="button">
                <img src="/assets/search-svgrepo-com.svg" />
            </button>
        </form>
    </div>
    <div>
        <h3>Popular developers</h3>
    </div>
    <div>
        <ul>
            <li>Developers</li>
        </ul>
    </div>
</div>